 <header>
      <div class="content-logo">
        <img src="images/logo.png" alt="">
        <div class="menu-landscape">
        <ul>
          <li><a href="#">INICIO</a></li>
          <li><a href="#">COMPAÑIA</a></li>
          <li><a href="#">SERVICIOS</a></li>
          <li><a href="#">GESTION</a></li>
          <li><a href="#">CONTACTO</a></li>
        </ul>
      </div>
        <a class="menu-movil" class="#" href=""><i class="fa fa-bars"></i></a>
        <ul>
          <li><a href="#"><img src="/images/colombia.png"> ES</a></li>
          <li>/</li>
          <li><a href=""><img src="/images/usa.png"> EN</a></li>
          <li><a class="iniciar" href="">INICIAR</a></li>
        </ul>

        
      </div>
      <div class="menu">
        <ul>
          <li><a href="#">INICIO</a></li>
          <li><a href="#">COMPAÑIA</a></li>
          <li><a href="#">SERVICIOS</a></li>
          <li><a href="#">GESTION</a></li>
          <li><a href="#">CONTACTO</a></li>
        </ul>
      </div>
    </header>