<div class="row">
        <div class="span12">
            <div class="row">
                <div class="span9">
                    <%=link_to new_product_path, :class =>'btn btn-warning' do %>
                    <i class="icon-list-alt icon-white"></i> Nuevo Producto
                    <% end %>
                      <%=link_to products_path, :class =>'btn btn-warning' do %>
                    <i class="icon-barcode icon-white"></i> Listado Producto
                    <% end %>
                      <%=link_to new_category_path, :class =>'btn' do %>
                    <i class="icon-barcode"></i> Nueva Categoria
                    <% end %>
                      <%=link_to categories_path, :class =>'btn' do %>
                    <i class="icon-barcode"></i> Listado Categoria
                    <% end %>
                </div>
            </div>
        </div>
    </div>  