
<div id="myCarousel" class="carousel slide"><!-- inicia carrusel-->

                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item">
                    <img src="/img/banner-1.gif" alt="">
                    <div class="carousel-caption">
                      <h4>V-Gard® 500 Non-Vented Protective Cap</h4>
                      <p>These non-vented caps, which provide Class E head protection, are part of the best-selling family of helmets and accessories in North America: V-Gard®.</p>
                    </div>
                  </div>
                  <div class="item active">
                    <img src="/img/banner-2.gif" alt="">
                    <div class="carousel-caption">
                      <h4>Womens Argon Hi Composite Toe Work Boot</h4>
                      <p><small>women's Argon Hi features the athletic look and feel combined with our exclusive best-in-class SRX slip resistant outsole compound for high performance protection in the workplace.</small></p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="/img/banner-3.gif" alt="">
                    <div class="carousel-caption">
                      <h4>3M™ Speedglas™ 9100 Welding Helmet</h4>
                      <p>Protecting your eyes and face from radiation, heat and sparks</p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
              </div>