<div class="well" >
  <fieldset>
    <legend><h5>Catalogo</h5></legend>
    <!--acordion principal de catalogo-->
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#">Seguridad Industrial</a></li>
      <li><a href="#">Botas y Calzado</a></li>
      <li><a href="#">Uniformes Industriales</a></li>
    </ul>
  </fieldset>
</div>