<div class="well" >
  <fieldset>
    <legend><h5>Catalogo</h5></legend>
    <!--acordion principal de catalogo-->
    <ul class="nav nav-pills nav-stacked">
    	<li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Seguridad Industrial</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <!--	
                      <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Proteccion Cabeza y Facial</a>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                    </ul>
                  </li>
					-->
                  	<li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Proteccion Auditiva</a>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="/img/Proteccion_Auditiva_3m.pdf"><img src="http://www.lubu.com.co/img/logo-screen.png" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                       <li><a tabindex="-1" href="https://www.dropbox.com/s/wrowvvf4z6dlzet/Proteccion%20Visual%20Uvex%20mala%20calidad.pdf"><img src="/img/logo-uvex.jpg" style="width: 24px; height: 24px;"> - uvex</a></li>
                     
                    </ul>
                  </li>
                  <!--
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Proteccion Visual</a>
                    <ul class="dropdown-menu">
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Proteccion Respiratoria</a>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Proteccion Manual</a>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Proteccion Corporal</a>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Seguridad en Alturas</a>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Escaleras dielectricas</a>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Alcoholimetros</a>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Kit Anti - Derrames</a>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                    </ul>
                  </li>

                  
                 
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Primero Auxilios, Equipos</a>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Equipos y Herramientas</a>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo-eco.jpg" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                      <li><a tabindex="-1" href="#">Second level link</a></li>
                    </ul>
                  </li>



                      <li><a tabindex="-1" href="#">Menu</a></li>
                 -->     
                    </ul>
                  </li>


      <li><a href="#">Botas y Calzado</a></li>
      <li><a href="#">Uniformes Industriales</a></li>
      
    </ul>
  </fieldset>
</div>