<style >
body{
  background: #FDFDFD url(/img/bg_main.gif) repeat;
  background-attachment: fixed;
  position: relative;
 
}
</style>

<div class="container">
<div class="row">
  <div class="span12">
    <h4>Nuestra Compañia</h4>
    <div class="articulo">
    <div class="row">
      <div class="span6">
      	<div class="media">
              <div class="pull-left">
                <img  src="/img/ico-3.png">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Mision</h4>
               Suministrar, elementos de protección personal y equipos que cumplan estándares de calidad nacionales e internacionales que conserven la salud, la seguridad y el medio ambiente contribuyendo al mejoramiento de la calidad de vida en actividades que involucren riesgos para la salud y el bienestar físico, generando valor a los accionistas, colaboradores y aliados estratégicos.
              </div>
            </div>
            <hr>

            <div class="media">
              <div class="pull-left">
                <img src="/img/ico-2.png">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Vision</h4>
                Ser reconocida en el año 2020 como la principal comercializadora integral de equipos- herramientas y elementos de protección personal, proporcionando fidelización, respaldo y confianza en nuestros clientes con suministros, servicios, y asesorías de calidad en lo relacionado con la salud, la seguridad y el medio ambiente.
              </div>
            </div>



        </div>
        <!--otra columna-->
      <div class="span6">
        <h4>Valores corporativos</h4>
        <br>
        <div class="row">
          <div class="span3">

            <div class="media">
              <div class="pull-left">
                <img  src="/img/ico-4.png">
              </div>
              <div class="media-body">
                <h5 class="media-heading">Proposito</h5>
                <small>Tener objetivos y metas, claros alcanzables y medibles.</small>
              </div>
            </div>
            <hr>

             <div class="media">
              <div class="pull-left">
                <img  src="/img/ico-4.png">
              </div>
              <div class="media-body">
                <h5 class="media-heading">Disciplina</h5>
                <small>Determinación de un código de conducta hacia lo que quiero.</small>
              </div>
            </div>

            <hr>
              <div class="media">
              <div class="pull-left">
                <img  src="/img/ico-4.png">
              </div>
              <div class="media-body">
                <h5 class="media-heading">Entusiasmo</h5>
                <small>Dios esta dentro de mi.</small>
              </div>
            </div>



          </div>
          <div class="span3">

                <div class="media">
              <div class="pull-left">
                <img  src="/img/ico-4.png">
              </div>
              <div class="media-body">
                <h5 class="media-heading">Organización</h5>
                <small>Tener objetivos y metas, claros alcanzables y medibles.</small>
              </div>
            </div>

            <hr>

              <div class="media">
              <div class="pull-left">
                <img  src="/img/ico-4.png">
              </div>
              <div class="media-body">
                <h5 class="media-heading">Responsabilidad</h5>
                <small>Cumplir con lo prometido oportunamente y con calidad.</small>
              </div>
            </div>



          </div>
         

        </div>
      	

      </div>

    </div>
    </div>
  </div>

 
</div>


</div>
<div class="container">
<div class="articulo">
  	<div class="well">
  		<fieldset>
  			<legend>Clientes, que han optado por nuestras soluciones:</legend>
  			     <ul class="thumbnails">
                <% @customers.each do |customer| %>
                <li class="span2" style="width: 123px; height: 44px;">
                    <a href="#" class="thumbnail">
                        <img src="<%= customer.url_photo %>" ></a>
                    </li>
                    <% end %>
                </ul>

  		
  		</fieldset>
  	</div>

</div>
</div>

