<style >
body{
  background: #FDFDFD url(/img/bg_main.gif) repeat;
  background-attachment: fixed;
  position: relative;
 
}
</style>

<div class="container">
  <div class="row">
    <div class="span6" style="padding-top: 55px;">
      <h5>Objetivos de Gestión</h5>
      <blockquote><p>INSSOL S.A.S ha establecido los siguientes objetivos con el fin de dar cumplimiento efectivo de la política de gestión, salud ocupacional y seguridad industrial</p></blockquote>
    </div>
 
    <div class="span6">
      <table class="table table-hover">
              <tbody>
                <tr>
                  <td><blockquote><p><small>Mantener un recurso humano idóneo y competente para la ejecución segura y confiable de las actividades de cada proceso.</small></p></blockquote></td>
                </tr>
                <tr>
                  <td><blockquote><p><small>Disminuir el índice de ausentismo laboral por medio de la prevención de accidentes y enfermedades profesionales.</small></p></blockquote></td>
                </tr>
                <tr>
                  <td><blockquote><p><small>Asegurar el cumplimiento de los requisitos legales y otros aplicables a la empresa.</small></p></blockquote></td>
                </tr>
              </tbody>
            </table>
    </div>
  </div>
  <hr>
   <div class="row">
    <div class="span6" style="padding-top: 55px;">
      <h5>Política de Gestión</h5>
      <blockquote><p>Buscar la preferencia, satisfacción y reconocimiento de nuestros clientes con un portafolio de productos relacionados con la Comercialización, servicio, asesoría y mantenimiento en equipos de seguridad, dotación personal e industrial;detectores de gases, servicio de asesoría técnica certificada y corte de materia prima para confección y manufacturaque cumplan los estándares de calidad, relacionados con la salud, la seguridad y el medio ambiente, respaldados por una organización comprometida con el mejoramiento continuo en la prestación del servicio que alcancen a:</p></blockquote>
    </div>

    <div class="span6">
      <table class="table table-hover">
              <tbody>
                <tr>
                  <td><blockquote><p><small>Conservar la integridad de los trabajadores y el ambiente, mediante la prevención de lesiones personales, enfermedad profesional, especialmente las que están relacionadas con los riesgos físicos y locativos, así como los daños a la propiedad dentro de unesquema de desarrollo sostenible haciendo uso racional del entorno de manera eficaz</small></p></blockquote></td>
                </tr>
                <tr>
                  <td><blockquote><p><small>Cumplir con los lineamientos, las normas y legislación vigente en salud ocupacional, y seguridad industrial del país y otros requisitos.</small></p></blockquote></td>
                </tr>
                <tr>
                  <td><blockquote><p><small>Respaldo económico para facilitar los recursos necesarios en la implementación de la presente política, logrando un mejoramiento continuo en la práctica de nuestras actividades y en el desempeño de nuestra gestión.</small></p></blockquote></td>
                </tr>
              </tbody>
            </table>
    </div>
  </div>


</div>

