
    
    <section ="home">
      <div class="hero">
        <div class="copy-movile">
          <h1>INTEGRAL SERVICES & SOLUTIONS SAS</h1>
          <p>BRINDAMOS SOLUCIONES Y SERVICIOS PARA LA INDUSTRIA</p>
          <p>FORME PARTE DE NUESTROS CLIENTES</p>          
        </div> 
        <ul class="slideshow-hero">
          <li>
            <img src="/images/serv-1.jpg">
            <div class="copy">
              <h1>INTEGRAL SERVICES & SOLUTIONS SAS</h1>
              <h2>BRINDAMOS SOLUCIONES Y SERVICIOS </h2>
              <h3>PARA LA INDUSTRIA</h3>
              <p>FORME PARTE DE NUESTROS CLIENTES</p>           
            </div> 
          </li>
          <li>
            <img src="/images/serv-2.jpg">
            <div class="copy">
              <h1>INTEGRAL SERVICES & SOLUTIONS SAS</h1>
              <h2>BRINDAMOS SOLUCIONES Y SERVICIOS </h2>
              <h3>PARA LA AGRO-INDUSTRIA</h3>
              <p>FORME PARTE DE NUESTROS CLIENTES</p>          
            </div> 
          </li>
        </ul>

      </div>
      <div class="clientes">
        <div class="content-btn">
          <a href="#" class="empresa">Registre su Empresa</a>   
        </div>
        <div class="content-logo">
          <ul class="slideshow-movil">
            <li><img src="/images/clientes/ecopetrol.png"> <img src="/images/clientes/cafe.png"></li>
            <li><img src="/images/clientes/engesa.png"><img src="/images/clientes/emerald.png"></li>
            <li><img src="/images/clientes/masa.png"><img src="/images/clientes/gasnatural.png"></li>
          </ul>
          <ul class="slideshow-medium" data-cycle-timeout=3000 data-cycle-carousel-visible=5>
            <li><img src="/images/clientes/ecopetrol.png"> </li>
            <li><img src="/images/clientes/cafe.png"></li>
            <li><img src="/images/clientes/engesa.png"></li>
            <li><img src="/images/clientes/emerald.png"></li>
            <li><img src="/images/clientes/gasnatural.png"></li>
            <li><img src="/images/clientes/masa.png"></li>
          </ul>          
        </div>
           
      </div>
      <div class="catalogo">
        <p class="title">NUESTROS SERVICIOS Y SOLUCIONES PARA SU EMPRESA</p>
        <p class="line"></p>
        <div class="content-descarga">
          <img src="/images/catalogo.jpg" alt="">
          <p class="description">Consulta nuestro catalago actualizado</p>
          <a href="" class="descargas"> Descargar</a>
        </div>
        <div class="content-info">
          
          <div class="song">
            <img src="/images/serv-1.jpg" alt="">
            <p>EQUIPO <br><b>ESPECIALIZADO</b> </p>
          </div>
          <div class="song">
            <div class="postion-catalogo">
              <img class="cata-img" src="/images/catalogo.jpg" alt="">
            <p class="description">Consulta nuestro catalago actualizado</p>
            <a href="" class="descargas"> Descargar</a>
            </div>
            
          </div>
          <div class="song">
            <img src="/images/serv-2.jpg" alt="">
            <p>MATERIAL DE <br><b>CONSTRUCCION</b> </p>
          </div>
          <div class="song">
            <img src="/images/serv-3.jpg" alt="">
            <p>SEGURIDAD <br><b>INDUSTRIAL</b> </p>
          </div>
          

        </div>
      </div>
      <div class="contacto">
        <div class="triangulo"></div>  
        <p class="title">¿ QUIERES CONTACTARNOS ?</p>
        <p>escribenos a nuestro correo electronico <a href="mailto:comercial@inssol.com.co">comercial@inssol.com.co</a></p>
               
      </div>
      <div class="map">
        <div class="google-maps">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3976.929454438579!2d-74.07624!3d4.6066519999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a01cc83673%3A0x7c33e184e8b73127!2sDOTACIONES+MODATEX!5e0!3m2!1ses!2s!4v1430051903094" width="600" height="450" frameborder="0" style="border:0"></iframe>
        </div>        
      </div>
      <div class="aliados">
        <p>NUESTROS ALIADOS</p>
        <img src="/images/clientes/3s.png">
       <img src="/images/clientes/in-huila.png">
      </div>
    </section>

