// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-responsive"; 

  .thu {
  
  			-webkit-border-radius: 30px; 
  			border-radius: 30px;
  }

#titulo {
	
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-weight: 500;
	text-shadow:2px 2px #000000;
}

#perfil p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	line-height: 24px;
	color: white;
	text-shadow:2px 2px #000000;
}

.carousel-caption {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 15px;
	background: #333333;
	background: rgba(0, 0, 0, 0.35);
}

h3 {
	color: white;
}

 h5 {
	font-family: 'Ubuntu', sans-serif;
	color: #f18200;
	font-size: 17px;
	text-shadow:2px 2px #e0dedc;
}
//images de marcas

.thumbnails > li {
  float: left;
  margin-bottom: 12px;
  margin-left: 4px;
}

//circulos
.articulo {
padding-top: 65px;
	
}

.menu {
	font-family: 'Ubuntu', sans-serif;
	color: #f18200;
	font-size: 17px;
	text-shadow:2px 2px #e0dedc;
}

.navbar .nav > li > a {
float: none;
padding: 10px 12px 10px;
color: #f18200;
font-size: 14px;
font-weight: bold;
text-decoration: none;
text-shadow:2px 2px #e0dedc;
}

#msj {
	font-family: 'Ubuntu', sans-serif;
	color: #ff0e0e;
	font-size: 17px;
	font-weight: 600;
	text-shadow:2px 2px #e0dedc;
}


