// Place all the styles related to the SiteSale controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .logo-inssol{
 	padding: 15px;
 }
 .menu{
	padding: 5px;
	
}

 .buscador{
	padding-top: 15px;
	
}
.navbar-inner1{
	background: #f18200;
	color: white;

}

