<div class="container">
	 <%= render 'share/navpro' %>
	 <div class="row">
	 	<div class="span4">
	 		<br>
	 		<%= link_to "<div class='btn btn-primary'><i class='icon-eye-open icon-white'></i> Ver</div>".html_safe, @category %>
	 		<%= link_to "<div class='btn btn-primary'><i class='icon-chevron-left icon-white'></i> Regresar</div>".html_safe, categories_path %>
	 	</div>
	 	<div class="span3">
	 		<br>
	 		<h4>Editar Categoria</h4>
	 	</div>
	 </div>
</div>
<%= render 'form' %>
