<div class="container">
	 <%= render 'share/navpro' %>
	 <div class="row">
	 	<div class="span2">
	 		<br>
	 		<%= link_to "<div class='btn btn-primary'><i class='icon-chevron-left icon-white'></i> Regresar</div>".html_safe, categories_path %>
	 	</div>
	 	<div class="span3">
	 		<br>
	 		<h4>Nuevo Categoria</h4>
	 	</div>
	 </div>
</div>

<%= render 'form' %>

